<launch>

  <!-- Load universal robot description format (URDF) -->
  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	args="-d $(find baxter_description)/launch/baxter.rviz" output="screen">
  </node>

</launch>
