<?xml version="1.0" ?>
<!-- mcevoy.andy@gmail.com -->
<!-- incorporates option for using Yale Open Hand Model T v0.5.2 -->

<robot name="baxter" 
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:xi="http://www.w3.org/2001/XInclude">

<xacro:include filename="$(find baxter_description)/urdf/baxter_no_end_effectors.urdf"/>
<xacro:include filename="$(find baxter_description)/urdf/open_hand.urdf.xacro" />
<xacro:include filename="$(find baxter_description)/urdf/electric_gripper.urdf.xacro" />

<!-- Electric Parallel Gripper -->
<xacro:electric_parallel_gripper arm="left" />
<!-- xacro:electric_parallel_gripper arm="right" / -->

<!-- Yale Open Hand -->
<!-- xacro:open_hand_gripper arm="left"/ -->
<xacro:open_hand_gripper arm="right"/>

</robot>
